@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 28 91% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 60 5% 91%;
    --accent: 31 82% 71%;
    --accent-foreground: 28 91% 39%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 28 91% 39%;
    --radius: 0.5rem;
    --chart-1: 28 91% 39%;
    --chart-2: 31 82% 71%;
    --chart-3: 173 58% 39%;
    --chart-4: 197 37% 24%;
    --chart-5: 43 74% 66%;
    --sidebar-background: 0 0% 6%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 28 91% 39%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 15%;
    --sidebar-ring: 28 91% 39%;
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 28 91% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 60 5% 91%;
    --accent: 31 82% 71%;
    --accent-foreground: 28 91% 39%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 28 91% 39%;
    --radius: 0.5rem;
    --chart-1: 28 91% 39%;
    --chart-2: 31 82% 71%;
    --chart-3: 173 58% 39%;
    --chart-4: 197 37% 24%;
    --chart-5: 43 74% 66%;
    --sidebar-background: 0 0% 6%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 28 91% 39%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 15%;
    --sidebar-ring: 28 91% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}